{% extends "base_for_patient_donor.html" %}
{% block title %} Change Password {% endblock %}
{% block content %}
<div class="container marginn ">
    <div class="card">
        <div class="card-header red">
            Change Password
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="card-body black ">
            <div class="card">
                <div class="card-body">
                        <ul>
                                <li>Note:</li>
                                <li>Two Passwords should be the same</li>
                                <li>Your Password can't be too similar to your personal information</li>
                                <li>Your Password must contain 8 characters(Letters, Digits and @/./+/-/_ only)</li>
                                <li>Your Password can't be a commonly used password</li>
                                <li>Your Password can't be entirely numeric</li>
                        </ul>
                        <br>
                        <br>



                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group col-md">
                            <label for="inputPassword">Old Password</label>
                            <input type="password" name="old_password" class="form-control" id="inputpass" placeholder="Enter old password" required>
                        </div>
                        <div class="form-group col-md">
                            <label for="inputPassword">New Password</label>
                            <input type="password" name = "new_password1" class="form-control" id="inputpass" placeholder="Enter new password" required>
                        </div>
                        <div class="form-group col-md">
                            <label for="inputPassword">Confirm Password</label>
                            <input type="password" name = "new_password2" class="form-control" id="inputpass" placeholder="Enter confirm password" required>
                        </div>
                        <button type="submit" class="btn btn-danger btn-block hov">Submit Form</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}