{% extends "base_for_patient_donor.html" %}
{% block title %} My Account {% endblock %}

{% block content %}

<div class="container marginn">
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center bg-light">
                <div class="card-body">
                    <div class="blood">
                        <i class="fas fa-user-plus fa-3x" style="color: #1e88e5;"></i>
                    </div><br>
                    <div>
                        Requests <br>

                       <span id = number_of_requests>{{count_req_total}}</span>
                    </div>                            
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center bg-light">
                <div class="card-body">
                    <div class="blood">
                    <i class="fas fa-sync fa-3x" style="color:#efb000;"></i>
                    </div><br>
                    <div>
                        Pending Request <br>
                        <span id = number_of_requests>{{count_pending_total}}</span>
                    </div>                            
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center bg-light">
                <div class="card-body">
                    <div class="blood">
                        <i class="fas fa-check-circle fa-3x" style="color: green;"></i>
                    </div><br>
                    <div>
                        Approved Request<br>
                        <span id = number_of_requests>{{count_approved_total}}</span>
                    </div>                            
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center bg-light">
                <div class="card-body">
                    <div class="blood">
                        <i class="fas fa-times-circle fa-3x" style="color: red;"></i>
                    </div><br>
                    <div>
                        Rejected Request <br>
                        <span id = number_of_requests>{{count_reject_total}}</span>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container marginn">
    <div class="card table-responsive">
        <div class="card-header green">
            My Donation History
        </div>
        <table class="table" id= "donor_table">
            <thead class="table-secondary">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Remarks</th>
                </tr>
            </thead>
            <tbody>
                {% for db in donate_data %}
                <tr>
                    <th scope="row">{{ db.id }}</th>
                    <td>{{db.date_request}}</td>
                    {% if db.status == 'Pending' %}
                        <td><span class="label info">{{db.status}}</span></td>
                    {% elif db.status == 'Approved' %}
                        <td><span class="label success">{{db.status}}</span></td>
                    {% elif db.status == 'Reject' %}
                        <td><span class="label danger">{{db.status}}</span></td>
                    {% elif db.status == 'Request Sent' %}
                        <td>{{db.status}}</td>
                    {% endif %}
                    <td>{{db.remarks}}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card marginn table-responsive">
        <div class="card-header green">
            My Request History
        </div>
        <table class="table">
            <thead class="table-secondary">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Patient's Name</th>
                <th scope="col">Blood Type</th>
                <th scope="col">Unit (per bag)</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Remarks</th>
                </tr>
            </thead>
            <tbody>
                {% for db1 in need_data %}
                <tr>
                    <th scope="row">{{ db1.id }}</th>
                    <td>{{db1.patientname}}</td>
                    <td>{{db1.bloodtype}}</td>
                    <td>{{db1.unit}}</td>
                    <td>{{db1.date_request}}</td>
                    {% if db1.status == 'Pending' %}
                        <td><span class="label info">{{db1.status}}</span></td>
                    {% elif db1.status == 'Approved' %}
                        <td><span class="label success">{{db1.status}}</span></td>
                    {% elif db1.status == 'Reject' %}
                        <td><span class="label danger">{{db1.status}}</span></td>
                    {% elif db1.status == 'Request Sent' %}
                        <td>{{db1.status}}</td>
                    {% endif %}
                    <td>{{db1.remarks}}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}