{% extends "base_admin.html" %}
{% block title %} Patient {% endblock %}


{% block content %}
    <div class="container marginn">
    <div id="patient" class="table-responsive text-nowrap">
        <div class="card-header green">
            Patient Blood Requests
        </div>
        <table id="tableaccessrequest" class = "table table-hover table-sm" >
            <thead class="black white-text">
                <tr>

                    <th class="text-center" style="color: white;" scope = "col">ID</th>
                    <th class="text-center" style="color: white;" scope = "col">Fullname</th>
                    <th class="text-center" style="color: white;" scope = "col">Bag/s Needed</th>
                    <th class="text-center" style="color: white;" scope = "col">Date Requested</th>
                    <th class="text-center" style="color: white;" scope = "col">Blood Type</th>
                    <th class="text-center" style="color: white;" scope = "col">Diseases</th>
                    <th class="text-center" style="color: white;" scope = "col">Contact Number</th>
                    <th class="text-center" style="color: white;" scope = "col">Health Facility</th>
                    <th class="text-center" style="color: white;" colspan="2" scope = "col">DECISION</th>
                </tr>
            </thead>

            <tbody>

            
                <tr class = "text-center">
                    <td>6</td>
                    <td>Michael Angelo S Rilan</td>
                    <td>2</td>
                    <td>October 2 2021</td>
                    <td>B+</td>
                    <td class="text-center">
                        <a href="#" class="btn badge-success p-2">Accept</a>
                        <a href="patient_reject.html" class="btn badge-danger p-2" >Reject</a>
                    </td>
                    
            </tbody>
        </table>

    </div>
    </div>

<br><br><br><br><br><br>

  
  {% endblock %}