{% extends "base_admin.html" %}
{% block title %} Patient {% endblock %}


{% block content %}
    <div class="container marginn">
    <div id="patient" class="table-responsive text-nowrap">
        <div class="card-header green">
            Patient Blood Requests
        </div>
        <table id="tableaccessrequest" class = "table table-hover table-sm" >
            <thead class="black white-text">
                <tr>

                    <th class="text-center" style="color: white;" scope = "col">ID</th>
                    <th class="text-center" style="color: white;" scope = "col">Fullname</th>
                    <th class="text-center" style="color: white;" scope = "col">Bag/s Needed</th>
                    <th class="text-center" style="color: white;" scope = "col">Date Requested</th>
                    <th class="text-center" style="color: white;" scope = "col">Blood Type</th>
                    <th class="text-center" style="color: white;" scope = "col">Diseases</th>
                    <th class="text-center" style="color: white;" scope = "col">Contact Number</th>
                    <th class="text-center" style="color: white;" scope = "col">Health Facility</th>
                    <th class="text-center" style="color: white;" colspan="2" scope = "col">DECISION</th>
                </tr>
            </thead>

            <tbody>

                {% for nd in needblood %}
                <tr class = "text-center">
                    <td> {{nd.id}} </td>
                    <td>{{nd.patientname}}</td>
                    <td>{{nd.unit}}</td>
                    <td>{{nd.date_request}}</td>
                    <td>{{nd.bloodtype}}</td>
                    <td>{{nd.disease}}</td>
                    <td>{{nd.contactnum}}</td>
                    <td>{{nd.healthfac}}</td>
                    <td class="text-center">
                        <a href="{% url 'patient_approved' nd.id %}" class="btn badge-success p-2">Accept</a>
                        <a href="{% url 'patient_reject' nd.id %}" class="btn badge-danger p-2" >Reject</a>
                    </td>
                </tr>
                {%endfor%}    
            </tbody>
        </table>

    </div>
    </div>

<br><br><br><br><br><br>

  
  {% endblock %}