{% extends "base_admin.html" %}
{% block title %} Donors {% endblock %}


{% block content %}

<div class="container marginn">
    <h4>Activity Counter</h4>
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center bg-light">
                <div class="card-body">
                    <div class="blood">
                        <i class="fas fa-user-plus fa-3x" style="color: #1e88e5;"></i>
                    </div><br>
                    <div>
                        Requests <br>

                       <span>{{count_requests}}</span>
                    </div>                            
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card text-center bg-light">
                <div class="card-body">
                    <div class="blood">
                    <i class="fas fa-sync fa-3x" style="color:#efb000;"></i>
                    </div><br>
                    <div>
                        Donors for Screening <br>
                        <span id = number_of_requests>{{count_pending}}</span>
                    </div>                            
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center bg-light">
                <div class="card-body">
                    <div class="blood">
                        <i class="fas fa-check-circle fa-3x" style="color: green;"></i>
                    </div><br>
                    <div>
                        Approved Donors<br>
                        <span id = number_of_requests>{{count_approved}}</span>
                    </div>                            
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center bg-light">
                <div class="card-body">
                    <div class="blood">
                        <i class="fas fa-times-circle fa-3x" style="color: red;"></i>
                    </div><br>
                    <div>
                        Rejected Donors <br>
                        <span id = number_of_requests>{{count_reject}}</span>
                    </div>                            
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container marginn">
    <div id="pending_donor" class="table-responsive text-nowrap">
        <div class="card-header green">
            Pending Donors
        </div>
        <table id="tableaccessrequest" class = "table table-hover table-sm" >
            <thead class="black white-text">
                <tr>

                    <th class="text-center" style="color: white;" scope = "col">ID</th>
                    <th class="text-center" style="color: white;" scope = "col">Fullname</th>
                    <th class="text-center" style="color: white;" scope = "col">Weight(kgs)</th>
                    <th class="text-center" style="color: white;" scope = "col">Age</th>
                    <th class="text-center" style="color: white;" scope = "col">Blood Type</th>
                    <th class="text-center" style="color: white;" scope = "col">Unit(per bags)</th>
                    <th class="text-center" style="color: white;" scope = "col">Diseases(if any)</th>
                    <th class="text-center" style="color: white;" colspan="1" scope = "col">Screening</th>
                </tr>
            </thead>

            <tbody>

                {% for pd in pendingdonor %}
                <tr class = "text-center">
                    <td>{{pd.id}}</td>
                    <td>{{pd.fullname}}</td>
                    <td>{{pd.weight}}</td>
                    <td>{{pd.age}}</td>
                    <td>{{pd.bloodtype}}</td>
                    <td>{{pd.unit}}</td>
                    <td>{{pd.disease}}</td>
                    <center>
                    <td class="text-center">
                        <a href="{% url 'donor_screening' pd.id %}" class="btn badge-success p-2">Start</a>
                    </td>
                    </center>

                    </tr>

                    
                {%endfor%}

            </tbody>
        </table>

        <div id="pending_donor" class="table-responsive text-nowrap">
            <div class="card-header green">
                Incoming Donors
            </div>
            <table id="tableaccessrequest" class = "table table-hover table-sm" >
                <thead class="black white-text">
                    <tr>
    
                        <th class="text-center" style="color: white;" scope = "col">ID</th>
                        <th class="text-center" style="color: white;" scope = "col">Fullname</th>
                        <th class="text-center" style="color: white;" scope = "col">Weight(kgs)</th>
                        <th class="text-center" style="color: white;" scope = "col">Age</th>
                        <th class="text-center" style="color: white;" scope = "col">Blood Type</th>
                        <th class="text-center" style="color: white;" scope = "col">Unit(per bags)</th>
                        <th class="text-center" style="color: white;" scope = "col">Diseases(if any)</th>
                        <th class="text-center" style="color: white;" scope = "col">Date Registered</th>
                        <th class="text-center" style="color: white;" colspan="2" scope = "col">Decision</th>
                    </tr>
                </thead>

                <tbody>
    
                    {% for dnr in donor %}
                    <tr class = "text-center">
                        <td>{{dnr.id}}</td>
                        <td>{{dnr.fullname}}</td>
                        <td>{{dnr.weight}}</td>
                        <td>{{dnr.age}}</td>
                        <td>{{dnr.bloodtype}}</td>
                        <td>{{dnr.unit}}</td>
                        <td>{{dnr.disease}}</td>
                        <td>{{dnr.date_request}}</td>
            
                        <center>
                            <td class="text-center">
                            <a href="{% url 'donor_approved_for_screening' dnr.id %}" class="btn badge-success p-2">Accept</a>
                            <a href="{% url 'donor_reject' dnr.id %}" class="btn badge-danger p-2" >Reject</a>
                            </td>
                        </center>
    
                        </tr>


                        {%endfor%}
    
                </tbody>
            </table>
        </div>
    </div>
    </div>


{% endblock %}
