{% extends "base_for_patient_donor.html" %}
{% block title %} Change Password {% endblock %}

{% block content %}
<div class="container marginn ">
    <div class="card">
        <div class="card-header red">
            Change Password
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="card-body black ">
            <div class="card">
                <div class="card-body">
    
                    <form method = "POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-danger btn-block hov">Submit Form</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}