{% extends "base_2.html" %}
{% block title %}Approved Request Form {% endblock %}

{% block content %}

<section id="register" class="donation-care">
    <div class="container">
        <div class="row session-title">
            <h2>Update Patient Approved Form</h2>
        </div>
        <div class="card-body black">
            <div class="card">
                <div class="card-body">
                    <form action = "" method="POST">
                        {% csrf_token %}       
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="id">ID</label>
                                <input type="text" name ="id" class="form-control" value="{{patient.id}}" id="inputusername" readonly>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="fullname">Fullname</label>
                                <input type="text" name ="patientname" class="form-control" value="{{patient.patientname}}" id="inputpassword" readonly>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="unit">Unit/s</label>
                                <input type="text" name ="unit" class="form-control" value="{{patient.unit}}" id="inputpassword" readonly>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="bloodtype">Compatible Blood Types</label>

                                {% if patient.bloodtype == "O+" %}
                                <select name ="bloodtype" id="inputbloodt"  class="form-control">
                                    <option selected>{{patient.bloodtype}}</option>
                                    <option>O+</option>
                                    <option>O-</option>
                                </select>

                                {% elif patient.bloodtype == "O-" %}
                                <select name ="bloodtype" id="inputbloodt"  class="form-control">
                                    <option selected>{{patient.bloodtype}}</option>
                                    <option>O-</option>
                                </select>

                                {% elif patient.bloodtype == "A+" %}
                                <select name ="bloodtype" id="inputbloodt"  class="form-control">
                                    <option selected>{{patient.bloodtype}}</option>
                                    <option>O-</option>
                                    <option>O+</option>
                                    <option>A-</option>
                                    <option>A+</option>
                                </select>
                                
                                {% elif patient.bloodtype == "A-" %}
                                <select name ="bloodtype" id="inputbloodt"  class="form-control">
                                    <option selected>{{patient.bloodtype}}</option>
                                    <option>O-</option>
                                    <option>A-</option>
                                </select>
                                {% elif patient.bloodtype == "B+" %}
                                <select name ="bloodtype" id="inputbloodt"  class="form-control">
                                    <option selected>{{patient.bloodtype}}</option>
                                    <option>O-</option>
                                    <option>O+</option>
                                    <option>B-</option>
                                    <option>B+</option>
                                    
                                </select>

                                {% elif patient.bloodtype == "B-" %}
                                <select name ="bloodtype" id="inputbloodt"  class="form-control">
                                    <option selected>{{patient.bloodtype}}</option>
                                    <option>O-</option>
                                    <option>B-</option>
                                    
                                </select>
                                {% elif patient.bloodtype == "AB+" %}
                                <select name ="bloodtype" id="inputbloodt"  class="form-control">
                                    <option selected>{{patient.bloodtype}}</option>
                                    <option>O-</option>
                                    <option>O+</option>
                                    <option>A-</option>
                                    <option>A+</option>
                                    <option>B-</option>
                                    <option>B+</option>
                                    <option>AB-</option>
                                    <option>AB+</option>
                                    
                                </select>
                                {% elif patient.bloodtype == "AB-" %}
                                <select name ="bloodtype" id="inputbloodt"  class="form-control">
                                    <option selected>{{patient.bloodtype}}</option>
                                    <option>O-</option>
                                    <option>A-</option>
                                    <option>B-</option>
                                    <option>AB-</option>
                                    
                                </select>
                                {%endif%}        
                            </div>
                            <div class="form-group col-md-6">
                                <label for="diseases">Diseases</label>
                                <input type="text" name ="disease" class="form-control" value="{{patient.disease}}" id="inputname" readonly>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="contactnum">Mobile Number</label>
                                <input type="text" name ="contactnum" class="form-control" value="{{patient.contactnum}}" id="inputmn" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="healthfac">Health Facility</label>
                                <input type="text" name ="healthfac" class="form-control" value="{{patient.healthfac}}" id="inputmn" readonly>
                            </div>
                            <div class="form-group col-md-2">

                                <select name ="status" class="form-control" hidden>
                                    <option>Approved</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="form-outline col-lg-10">
                                <label class="form-label" for="form6Example7">Remarks</label>
                                <textarea class="form-control" id="form6Example7" name ="remarks" rows="5" value="{{patient.remarks}}" placeholder="Type the reason why the Patient is rejected Here" required></textarea>
                            </div>
                              </div>
                        <button type="submit" class="btn btn-success btn-block hov">Approved</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}